In [2]:
from rtree import index
import pandas as pd
import ast
import os

In [4]:
# R-Tree index
idx = index.Index()

In [6]:
class ETA:
    def __init__(self, start_time=None, end_time=None):
        self.start_time = start_time
        self.end_time = end_time

In [5]:
df = pd.read_csv("../stage3/outputs/All_Taxi_Trips.csv")
df.head()

,trip_id,start_latitude,start_longitude,source_timestamp,origin_point,end_latitude,end_longitude,destination_timestamp,destination_point,cab_id
0,1,37.96943,-122.31778,2008-05-17 15:20:33,"(37.96943, -122.31778)",37.79119,-122.40449,2008-05-17 15:40:50,"(37.79119, -122.40449)",0
1,2,37.79505,-122.40479,2008-05-17 15:41:28,"(37.79505, -122.40479)",37.78362,-122.40262,2008-05-17 15:46:48,"(37.78362, -122.40262)",0
2,3,37.78363,-122.40261,2008-05-17 15:46:49,"(37.78363, -122.40261)",37.79552,-122.40463,2008-05-17 15:51:49,"(37.79552, -122.40463)",0
3,4,37.79593,-122.40495,2008-05-17 15:52:36,"(37.79593, -122.40495)",37.80647,-122.42048,2008-05-17 15:59:31,"(37.80647, -122.42048)",0
4,5,37.80648,-122.42048,2008-05-17 15:59:39,"(37.80648, -122.42048)",37.80052,-122.43030,2008-05-17 16:16:11,"(37.80052, -122.4303)",0

In [7]:
for i, row in df.iterrows():
    sTime = row['source_timestamp']
    dTime = row['destination_timestamp']

    start_eta = ETA(start_time=sTime)
    end_eta = ETA(end_time=dTime)
    start_point = row['origin_point']
    end_point = row['destination_point']

    x1, y1 = ast.literal_eval(start_point)[1], ast.literal_eval(start_point)[0]
    x2, y2 = ast.literal_eval(end_point)[1], ast.literal_eval(end_point)[0]

    idx.insert(i, (x1, y1), start_eta)
    idx.insert(i, (x2, y2), end_eta)

In [8]:
test_data = pd.read_csv('../stage3/test_student.txt', sep=' ', header=None, index_col=0)

test_point = test_data.iloc[0]
print(test_point)

1    edf177ee-7e81-4785-821e-ac3d13094ec9.txt
2                                    37.61564
3                                   -122.3919
4                                  1213030654
5                                    37.78373
6                                  -122.40747
Name: 0, dtype: object

In [14]:
nearest_points = idx.nearest(test_point[[2,3]], 5, objects=True)
for point in nearest_points:
    print(point.id)

83119
121125
121126
52280
52281

In [16]:
nearest_points = idx.nearest(test_point[[5, 6]], 5, objects=True)
for point in nearest_points:
    print(point.id)
    obj = point.object
    if obj.start

83119
<__main__.ETA object at 0x7f4ddc2d3c70>
121125
<__main__.ETA object at 0x7f4dd71af430>
121126
<__main__.ETA object at 0x7f4ddc2d3eb0>
52280
<__main__.ETA object at 0x7f4dd71ad720>
52281
<__main__.ETA object at 0x7f4ddc2d1840>