# Importing Libraries

In [79]:
import xgboost as xgb
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import os

# Load Files

In [80]:
test = pd.read_csv('../stage3/test_student.txt', sep=' ', header=None, index_col=0)
test.columns = ['cab_file', 'start_latitude', 'start_longitude', 'source_timestamp','end_latitude', 'end_longitude']
test['source_timestamp'] = pd.to_datetime(test['source_timestamp'], unit='s')
test.head()

,cab_file,start_latitude,start_longitude,source_timestamp,end_latitude,end_longitude
0,,,,,,
0,edf177ee-7e81-4785-821e-ac3d13094ec9.txt,37.61564,-122.39190,2008-06-09 16:57:34,37.78373,-122.40747
1,edf177ee-7e81-4785-821e-ac3d13094ec9.txt,37.62060,-122.39936,2008-06-09 16:19:15,37.74579,-122.41056
2,edf177ee-7e81-4785-821e-ac3d13094ec9.txt,37.76160,-122.43947,2008-06-09 14:55:29,37.61486,-122.38584
3,edf177ee-7e81-4785-821e-ac3d13094ec9.txt,37.76731,-122.43667,2008-06-09 14:00:35,37.61791,-122.38583
4,edf177ee-7e81-4785-821e-ac3d13094ec9.txt,37.78554,-122.40636,2008-06-09 13:06:06,37.61786,-122.38543

In [81]:
train = pd.read_csv('../stage3/outputs/All_Taxi_Trips.csv')
train.head()

,trip_id,start_latitude,start_longitude,source_timestamp,origin_point,end_latitude,end_longitude,destination_timestamp,destination_point,cab_id
0,1,37.96943,-122.31778,2008-05-17 15:20:33,"(37.96943, -122.31778)",37.79119,-122.40449,2008-05-17 15:40:50,"(37.79119, -122.40449)",0
1,2,37.79505,-122.40479,2008-05-17 15:41:28,"(37.79505, -122.40479)",37.78362,-122.40262,2008-05-17 15:46:48,"(37.78362, -122.40262)",0
2,3,37.78363,-122.40261,2008-05-17 15:46:49,"(37.78363, -122.40261)",37.79552,-122.40463,2008-05-17 15:51:49,"(37.79552, -122.40463)",0
3,4,37.79593,-122.40495,2008-05-17 15:52:36,"(37.79593, -122.40495)",37.80647,-122.42048,2008-05-17 15:59:31,"(37.80647, -122.42048)",0
4,5,37.80648,-122.42048,2008-05-17 15:59:39,"(37.80648, -122.42048)",37.80052,-122.43030,2008-05-17 16:16:11,"(37.80052, -122.4303)",0

# Preprocess Data

In [82]:
# make trip length variable
train['destination_timestamp'] = pd.to_datetime(train['destination_timestamp'])
train['source_timestamp'] = pd.to_datetime(train['source_timestamp'])
train['trip_length'] = train['destination_timestamp'] - train['source_timestamp']
y = pd.to_timedelta(train['trip_length'], unit='s').dt.total_seconds()

# drop unnecessary columns
X = train[['start_latitude', 'start_longitude', 'end_latitude', 'end_longitude', 'cab_id', 'source_timestamp']].copy()

# generate time series parameters
X['hour'] = X['source_timestamp'].dt.hour
X['minute'] = X['source_timestamp'].dt.minute
X['second'] = X['source_timestamp'].dt.second
X['weekday'] = X['source_timestamp'].dt.weekday
X['week_of_year'] = X['source_timestamp'].dt.weekofyear
X['day_of_year'] = X['source_timestamp'].dt.dayofyear
X['month'] = X['source_timestamp'].dt.month
X['year'] = X['source_timestamp'].dt.year

# drop timestamp
X.drop('source_timestamp', axis=1, inplace=True)

/tmp/ipykernel_53500/2834849656.py:15: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  X['week_of_year'] = X['source_timestamp'].dt.weekofyear

In [83]:
X.head()

,start_latitude,start_longitude,end_latitude,end_longitude,cab_id,hour,minute,second,weekday,week_of_year,day_of_year,month,year
0,37.96943,-122.31778,37.79119,-122.40449,0,15,20,33,5,20,138,5,2008
1,37.79505,-122.40479,37.78362,-122.40262,0,15,41,28,5,20,138,5,2008
2,37.78363,-122.40261,37.79552,-122.40463,0,15,46,49,5,20,138,5,2008
3,37.79593,-122.40495,37.80647,-122.42048,0,15,52,36,5,20,138,5,2008
4,37.80648,-122.42048,37.80052,-122.43030,0,15,59,39,5,20,138,5,2008

In [84]:
y.head()

0    1217.0
1     320.0
2     300.0
3     415.0
4     992.0
Name: trip_length, dtype: float64

# Make Training and Test Sets

In [85]:
X_train, X_train_test, y_train, y_train_test = train_test_split(X, y, test_size=0.2, random_state=123)

# Simple Model

## Train Model

In [86]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 100)

In [87]:
xg_reg.fit(X_train,y_train)

XGBRegressor(alpha=10, base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.3, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.1, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=5, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, ...)

In [88]:
xg_reg.score(X_train_test, y_train_test)

0.03010611186058243

## Final Predictions of Model

In [89]:
import pickle

# load taxi dictionary
with open('../stage3/outputs/Taxi_Dictionary.pkl', 'rb') as handle:
    taxi_dict = pickle.load(handle)

taxi_dict = {value: key for key, value in taxi_dict.items()}

print(taxi_dict)

{'db8b8e6c-315b-4a8e-bb27-d077647011c5.txt': 0, 'da1c3cf6-e628-4ca0-935c-5f91aa35db4f.txt': 1, 'dd3eb516-dc20-48e1-aec3-ae7d3f1e9b68.txt': 2, 'ead6caf4-8feb-4ade-831d-abd720fac240.txt': 3, 'fc5a051c-c4fb-4c03-b5e3-ea99d8440d20.txt': 4, 'f1a6a66b-287c-46c8-abe3-a5b7c20ff93f.txt': 5, 'db51a9a0-0ae3-4e32-8b37-3ab8b53d6710.txt': 6, 'daea9817-45a7-443d-843d-7ab2cda4531c.txt': 7, 'fb33e23a-48be-4dba-bee5-bcb74cc77436.txt': 8, 'fa24af3a-f415-4dd7-9f8d-7d631b1be9ec.txt': 9, 'ee6de574-7cd6-43dd-83f1-37728b2d9a9c.txt': 10, 'f0086b28-73de-4163-a5e2-8b52dd63446a.txt': 11, 'ecea2a86-3075-4f21-8a4d-be726d38a518.txt': 12, 'dfb2d390-d52e-45f6-a163-2c895fe76d93.txt': 13, 'd7367c6b-7d8c-4b9f-87ca-d88ceca42629.txt': 14, 'd072ac88-ff62-48e8-a825-530c96a0f6ea.txt': 15, 'fba3897b-9201-47f1-a20f-482894296f93.txt': 16, 'f8c6f1a5-031e-4f4c-a0cb-4c7a6624cbca.txt': 17, 'df28992f-86b9-479e-ae50-fa952fb8934a.txt': 18, 'e2f7f587-4ab9-4040-a903-cd268bbb2505.txt': 19, 'fe6f1c48-d0d1-44ed-ab13-4c05e6eb5a48.txt': 20, 'e0fbab22-035e-4179-beb6-c70ec71386c5.txt': 21, 'edb83c12-83fc-4748-baa2-9c41bdfa31c2.txt': 22, 'dfd88174-3adb-4796-931c-d117017cd54c.txt': 23, 'd13188a7-4577-4a5d-82ad-8bb00f6b9422.txt': 24, 'e411b92e-b930-482b-aed5-1f6a6dd89a29.txt': 25, 'e43d7999-48c6-45d1-9412-0ebdd2f02b42.txt': 26, 'f38697d8-a839-4285-b96f-76a565e71bc9.txt': 27, 'fd9ab861-38a0-4cef-ae42-b821d53498e4.txt': 28, 'e5d61933-f61c-47aa-bae6-2cc708def354.txt': 29, 'fea7212d-95f6-44e1-b9af-d66a66c74a58.txt': 30, 'dcf6b415-ef68-4e47-bb2d-619530d28a58.txt': 31, 'ef053659-9a4d-4069-bbbc-61be3e12e8a0.txt': 32, 'f4d86846-7d1f-40df-8c8c-45041a25cc21.txt': 33, 'e7b71bb5-34a9-4ff2-aba1-1d62891dc80b.txt': 34, 'fad80500-cf28-4a05-8e65-8ac4aa89a4aa.txt': 35, 'fc3263d4-5019-4fb1-9581-97c48849f72c.txt': 36, 'f20e88e8-3173-4bef-b05b-338f0098ad04.txt': 37, 'dcbffcb9-e492-4165-b450-dcb9ef242808.txt': 38, 'db1ec952-8b2a-493e-8354-deb684996768.txt': 39, 'e9d2fb45-61b1-477c-97c3-fe939922403e.txt': 40, 'f507b0aa-f8c3-493e-af3e-f0ddf8382f7e.txt': 41, 'dd5d360a-7907-4275-95db-68c20445fe6c.txt': 42, 'ea4f09c2-3f30-488f-bb62-b7ee0f9e791e.txt': 43, 'da8d7e0b-488e-403a-9304-a251006a94c9.txt': 44, 'e9938fd9-84a3-4765-9d68-021c7adeeeda.txt': 45, 'edf177ee-7e81-4785-821e-ac3d13094ec9.txt': 46, 'dc1a4d64-dbce-40d2-aebc-f55600c1029d.txt': 47, 'e1be2cb7-6cf8-4887-8892-c3e6c140d02d.txt': 48, 'faa21af5-fc93-43c0-b371-aa2483dc44c3.txt': 49, 'e98d843a-5b8d-4f1b-8030-9973259e0e87.txt': 50, 'dfcd0b0f-741a-4030-80f6-5f2b83ed7994.txt': 51, 'f998d30e-4952-4e47-af63-9349236bf8a5.txt': 52, 'e7b52ef2-faaf-4ea2-9428-024ebf93c3a9.txt': 53, 'fad7a5b2-25c0-4b2e-8ab2-158d50a6e37d.txt': 54, 'ee1f3987-beee-4903-ba20-e3857ab80081.txt': 55, 'f746c7d0-8cca-4cb7-8166-7d99b0bfd20d.txt': 56, 'e7c89a01-220a-4334-818e-6e355ae36c2b.txt': 57, 'f0fc10fe-c37a-4878-a28f-50123e0fcd2d.txt': 58, 'fdb84684-0901-4eac-938c-5345eeea688a.txt': 59, 'daa7da5f-f05c-45e1-80f6-63f8f3a2922c.txt': 60, 'e33d63fd-2313-4146-ab4b-8aaa4cb10f62.txt': 61, 'd118361e-fba2-4188-8f4c-b43d0e2d3d1e.txt': 62, 'fc0defbc-e893-4465-96e4-158f886ff513.txt': 63, 'e14dc19c-00b0-4784-9d1a-831b63a6b1b7.txt': 64, 'dc4f606c-1769-4b56-b65d-9fbb61435f22.txt': 65, 'f44d9af7-f4db-492f-9506-4f3d5feb82eb.txt': 66, 'f00144bc-e347-497f-9523-55ed8512780a.txt': 67, 'ea502af0-8092-4fb7-a3c2-083f46ab05c9.txt': 68, 'e270309b-0ccc-48a9-a4f5-2c7e54e57f73.txt': 69, 'e512256f-bed0-4b62-a47b-f2abbad01f65.txt': 70, 'ef53cee0-31b0-48b7-b141-927b2cb6e3e0.txt': 71, 'f205bc21-e3db-4772-8cc0-ab5674c6a3be.txt': 72, 'd177ff14-217c-42b9-845e-bf899cb8a778.txt': 73, 'e4385cde-cf2d-4bf4-8bb6-696aa0a7abb1.txt': 74, 'f6e91bd5-7296-4db5-901e-1f822b829d34.txt': 75, 'ea3cd249-bd0a-49b8-ad9e-9f5d0eba26fe.txt': 76}

In [92]:
# load cab file to id dictionary
test['cab_id'] = test['cab_file'].map(taxi_dict)

# generate time series parameters
X_test = test[['start_latitude', 'start_longitude', 'end_latitude', 'end_longitude', 'cab_id', 'source_timestamp']].copy()

# generate time series parameters
X_test['hour'] = X_test['source_timestamp'].dt.hour
X_test['minute'] = X_test['source_timestamp'].dt.minute
X_test['second'] = X_test['source_timestamp'].dt.second
X_test['weekday'] = X_test['source_timestamp'].dt.weekday
X_test['week_of_year'] = X_test['source_timestamp'].dt.isocalendar().week
X_test['day_of_year'] = X_test['source_timestamp'].dt.dayofyear
X_test['month'] = X_test['source_timestamp'].dt.month
X_test['year'] = X_test['source_timestamp'].dt.year

# drop timestamp
X_test.drop('source_timestamp', axis=1, inplace=True)

X_test.head()

,start_latitude,start_longitude,end_latitude,end_longitude,cab_id,hour,minute,second,weekday,week_of_year,day_of_year,month,year
0,,,,,,,,,,,,,
0,37.61564,-122.39190,37.78373,-122.40747,46,16,57,34,0,24,161,6,2008
1,37.62060,-122.39936,37.74579,-122.41056,46,16,19,15,0,24,161,6,2008
2,37.76160,-122.43947,37.61486,-122.38584,46,14,55,29,0,24,161,6,2008
3,37.76731,-122.43667,37.61791,-122.38583,46,14,0,35,0,24,161,6,2008
4,37.78554,-122.40636,37.61786,-122.38543,46,13,6,6,0,24,161,6,2008

In [93]:
X_test.head()

,start_latitude,start_longitude,end_latitude,end_longitude,cab_id,hour,minute,second,weekday,week_of_year,day_of_year,month,year
0,,,,,,,,,,,,,
0,37.61564,-122.39190,37.78373,-122.40747,46,16,57,34,0,24,161,6,2008
1,37.62060,-122.39936,37.74579,-122.41056,46,16,19,15,0,24,161,6,2008
2,37.76160,-122.43947,37.61486,-122.38584,46,14,55,29,0,24,161,6,2008
3,37.76731,-122.43667,37.61791,-122.38583,46,14,0,35,0,24,161,6,2008
4,37.78554,-122.40636,37.61786,-122.38543,46,13,6,6,0,24,161,6,2008

In [94]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1901 entries, 0 to 1900
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   start_latitude   1901 non-null   float64
 1   start_longitude  1901 non-null   float64
 2   end_latitude     1901 non-null   float64
 3   end_longitude    1901 non-null   float64
 4   cab_id           1901 non-null   int64
 5   hour             1901 non-null   int64
 6   minute           1901 non-null   int64
 7   second           1901 non-null   int64
 8   weekday          1901 non-null   int64
 9   week_of_year     1901 non-null   UInt32
 10  day_of_year      1901 non-null   int64
 11  month            1901 non-null   int64
 12  year             1901 non-null   int64
dtypes: UInt32(1), float64(4), int64(8)
memory usage: 202.4 KB

In [95]:
X_test.week_of_year = X_test.week_of_year.astype('int64')

In [98]:
y_pred = xg_reg.predict(X_test)

In [100]:
y_pred = pd.DataFrame(y_pred)
y_pred.head()

             0
0  1506.025024
1  1727.622314
2  1747.943848
3  1510.564575
4   905.274597

In [106]:
output = pd.concat([test.source_timestamp, y_pred], axis=1)
output['eta'] = output['source_timestamp'] + pd.to_timedelta(output[0], unit='s')
output.drop([0, 'source_timestamp'], axis=1, inplace=True)
output.head()

                            eta
0 2008-06-09 17:22:40.025024414
1 2008-06-09 16:48:02.622314453
2 2008-06-09 15:24:36.943847656
3 2008-06-09 14:25:45.564575195
4 2008-06-09 13:21:11.274597168

In [107]:
output.to_csv('../stage3/outputs/xgboost_eta.csv', index=False)

# Steps to improve
- use featurewiz for engineering and selection
- try catboost, lightgbm, and a lazy learn model
- use optuna on best dt model to tune hyperparameters